.errormessage__container {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errormessage__text {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}
.errormessage__img {
  height: 100%;
}
