.product__card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.product__card__img {
  width: 100%;
  object-fit: contain;
  position: relative;
}
.product__card__img {
  width: 100%;
  object-fit: contain;
}
.product__card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%;
  border-top: 1px solid var(--black);
  margin-top: 0.5rem;
}
.product__card__title {
  font-weight: 600;
}
