.page__container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit", sans-serif;
}
.page__title {
  text-align: center;
  margin-top: 2rem;
}
.page__title--mens {
  margin-top: 0;
}
.page__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.page__filter__container {
  position: relative;
}
.page__filter__labelbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid var(--black);
  background-color: transparent;
  cursor: pointer;
}
.page__filter__labelbtn.active {
  border-bottom: none;
}
.page__filter__arrow {
  margin-left: 0.5rem;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.page__filter__arrow.active {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}
.page__filter__options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--white);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.page__filter__options.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(10px);
}
.page__filter__option {
  border: none;
  text-align: left;
  position: relative;
  margin: 0.5rem 0;
  cursor: pointer;
}
.page__filter__option::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--black);
  left: 0;
  bottom: -10px;
}
.page__products {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/** Details Page **/
#details__page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.details__page__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details__page__img {
  width: 100%;
  margin: 1rem 0;
}
.details__page__product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.details__page__title {
  font-size: 1.5rem;
}
.details__page__price {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
/* Details Sizes */
.details__page__sizes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.details__page__size {
  height: 50px;
  width: 50px;
  margin-bottom: 0.5rem;
  font-family: inherit;
  border: 1px solid var(--black);
  cursor: pointer;
}
.details__page__size.active {
  background-color: var(--black);
  color: var(--white);
  border: none;
}
/* Add to cart Btn */
.page__details__btn__addtocart {
  width: 100%;
  padding: 1.2rem 0;
  margin-bottom: 1rem;
  background-color: var(--black);
  color: var(--white);
  font-family: inherit;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  align-self: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.page__details__btn__addtocart:hover {
  background-color: var(--white);
  color: var(--black);
  outline: 1px solid var(--black);
}

/** Cart Page **/
.cartpage__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}
.cartpage__empty__cart__h2 {
  text-align: center;
  font-weight: 400;
}
.cartpage__title {
  font-weight: 400;
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  align-self: start;
}
.cartpage__items {
  width: 100%;
}
.cartpage__item__info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartpage__item__img {
  height: 80px;
  margin-right: 1rem;
}
.cartpage__item__text {
  flex: 1;
}
.cartpage__item__size {
  font-size: 0.8rem;
}

.cartpage__footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin-top: 2rem;
}
.cartpage__footer__total__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartpage__footer__btn {
  width: 100%;
  padding: 1.2rem 0;
  margin-bottom: 1rem;
  background-color: var(--black);
  color: var(--white);
  font-family: inherit;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  align-self: center;
  cursor: pointer;
  margin: 1rem 0;
}
/** Media Queries **/
@media screen and (min-width: 375px) {
  .page__products {
    grid-template-columns: repeat(2, 1fr);
  }
  /** Details Page **/
  .details__page__size {
    width: 60px;
  }
}
@media screen and (min-width: 540px) {
  .page__title {
    font-size: 2rem;
  }
  /** Details Page **/
  .details__page__size {
    width: 90px;
  }
  .page__details__btn__addtocart {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) {
  /** Details Page **/
  #details__page {
    padding: 0 2rem;
  }
  .details__page__size {
    width: 100px;
  }
  .details__page__price {
    font-size: 1.2rem;
  }

  /** Cart Page **/
  .cartpage__footer {
    margin-top: 4rem;
  }
  .cartpage__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  .cartpage__item__img {
    height: 100px;
  }
  .cartpage__item__title {
    font-size: 1.2rem;
  }
  .cartpage__item__size {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .cartpage__footer {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .page__products {
    grid-template-columns: repeat(3, 1fr);
  }
  /** Details Page **/
  .details__page__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .details__page__product {
    justify-content: space-between;
    margin-left: 1rem;
    height: 100%;
  }
  .details__page__title {
    font-size: 2rem;
  }
  .details__page__price {
    font-size: 1.5rem;
  }
  .details__page__size {
    height: 60px;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .page__products {
    grid-template-columns: repeat(3, 1fr);
  }
  /** Details Page **/
  .details__page__content {
    width: 70%;
  }

  /** Cart Page **/
  .cartpage__item__price {
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1536px) {
  .page__products {
    grid-template-columns: repeat(4, 1fr);
  }
  /** Details Page **/
  .details__page__content {
    width: 50%;
  }
  /** Cart Page **/
  .cartpage__item__img {
    height: 150px;
  }
}
