#footer {
  min-height: auto;
  background-color: var(--black);
  color: var(--white);
}
.footer__links {
  border-bottom: 1px solid var(--grey-text);
  cursor: pointer;
  padding: 0.5rem 0;
}
.footer__links__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links__label p {
  font-size: 1.5rem;
}
.nav__links__icon--footer {
  color: var(--white);
}
.footer__dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.footer__dropdown.active {
  max-height: 160px;
}
.footer__dropdown__link {
  margin: 0.5rem 0;
  cursor: pointer;
  color: var(--light-grey);
  font-size: 1rem;
}
.footer__socials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  height: 150px;
  margin: 1rem 0;
}
.nav__icon--footer {
  color: var(--white);
}

/** Copyright **/
.footer__copyright {
  text-align: center;
  font-size: 0.7rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 360px) {
  .footer__nav__socials {
    width: 50%;
  }
}
@media screen and (min-width: 500px) {
  .footer__nav__socials {
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .footer__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-template-areas:
      "links socials"
      "footer footer";
  }
  .footer__links {
    grid-area: links;
    border-bottom: none;
    padding-top: 2rem;
  }
  .footer__dropdown {
    max-height: 160px;
  }
  .nav__links__icon--footer {
    display: none;
  }

  .footer__logo {
    height: 150px;
    margin-top: 2rem;
  }
  .footer__socials__container {
    grid-area: socials;
  }
  .footer__copyright {
    grid-area: footer;
  }
}

@media screen and (min-width: 1024px) {
  .footer__nav__socials {
    display: block;
    display: flex;
  }
  .nav__icon--footer {
    font-size: 1.5rem;
  }
}
