@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Kanit:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --black: #000;
  --white: #f2f2f2;
  --light-grey: #b2b2b2;
  --grey-text: #2c3333;
}
body {
  background-color: var(--white);
}
#main {
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  padding: 0 1rem;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 4rem;
  }
}
